<header>
<%= render :partial => 'layouts/header'%>
</header>

<body>
  <div class= "content_post">
    <%= form_for @post do |f|%>
      <div class="form-group">
        <%= f.label "nickname","ニックネーム"%>
        <%= current_user.nickname %>
      </div>
      <div class="form-group">
        <%= f.label "title","タイトル" %>
        <%= f.text_field :title, class:"form-control"%>
      <div class="form-group">
        <%= f.label "content","内容" %>
        <%= f.text_area :content, class:"form-control"%>
      </div>
        <%= f.fields_for :images do |i| %>
          <%= i.file_field :image, class:"form-control" %><br>
        
        <% end %>
       <button type="submit" class="btn btn-primary">記事を修正する</button>
       <%= link_to '削除', "/posts/#{@post.id}", method: :delete, class:"btn btn-primary" %>
    <% end %>
  </div>

<footer>
共通フッターを利用
</footer>

</body>