<%# #トップページ %>
<html>
  <head>
    <meta charset="UTF-8" />
      <link rel="stylesheet" href="application.css"> 
  </head>

  <body class="bg-light">
  <%= render :partial => 'layouts/header'%>
  <%= render :partial => 'layouts/menubar'%>
      <div class="ranking text-center">
        <h5>アクセスランキング</h5>
        <div class="container ">
          <div class="row">
              <div class="single-category d-flex ">
                  <% @post.each do |post| %>
                    <div class= "one-post m-4 ">
                      <%= image_tag 'IMG_0370.jpg',size: "213x260", class:""%><br>
                      <%=link_to post.title, "/posts/#{post.id}" %><br>
                      <a href="#"><i class="ti-comment"></i>05 comment</a><br>
                      <a href="#"><i class="ti-heart"></i> 0 like</a>
                    </div>
                  <% end %>
                </div>
            </div>
         </div>

      <div class="category-page area-padding text-center">
        <h5>最新記事表示</h5>
        <div class="container ">
          <div class="row">
              <div class="single-category d-flex ">
                  <% @posts.each do |post| %>
                    <div class= "one-post m-4 ">
                      <%= image_tag 'IMG_0370.jpg',size: "213x260", class:""%><br>
                      <%=link_to post.title, "/posts/#{post.id}" %><br>
                      <a href="#"><i class="ti-comment"></i>05 comment</a><br>
                      <a href="#"><i class="ti-heart"></i> 0 like</a>
                    </div>
                  <% end %>
               </div>
          </div> 
         </div>
       </div>
<footer>
  <p>お問い合わせわこちら・・・・test@test.com</p>
</footer>
  </body>


</html>