<%= render :partial => 'layouts/header'%>

<%# <記事詳細ページ用> %>


<div class ="post-title">
 <%= @post.title%>
</div>
<div class= "post-content">
<%= @post.content%>
</div>

<div class ="image-form">
  <%# <% image_tag @post.images.url %> %>
</div>
<%  if user_signed_in? && current_user.id == @post.user_id %>
<%= link_to"編集する", "/posts/#{@post.id}/edit", class: "btn btn-primary" %>
<% end %>

<div class= "commentform">
  <%= form_for ([@post,@post.comments.build]) do |c| %>
    <%= c.text_area :message %>
  <button type="submit" class="btn btn-primary">コメントする</button>
  <% end %>
</div> 

<h4>＜コメント一覧＞</h4>
        <% @post.comments.each do |c| %> 
           <p> 
          <%= c.message %> 
          </p>
      <% end %> 